# Ignore Settings file
settings.ini

# Ignore Regular Expression List
suslist.py

# Also ignore the insult list
insults

# Ignore log file
badword.log

# Ignore Database -- Not needed for public
leaderboard.db
